<app-header title="Iniciar sesión"></app-header>

<ion-content>

  <div class="d-flex-center">

    <form action="" class="auth-form">

      <app-logo></app-logo>

      <app-login-input autocomplete="email" type="email" label="Correo" icon="mail-outline"></app-login-input>
      <div class="validators"></div>

      <app-login-input type="password" label="Contraseña" icon="lock-closed-outline"> </app-login-input>
      <div class="validators"></div>

      <p class="ion-text-end" routerLink="forgot-password">¿Olvidaste la contraseña?</p>

      <ion-button class="submit" expand="block" mode="ios" fill="outline">
        Ingresar
      </ion-button>

      <ion-button routerLink="sign-up" class="ion-margin-top" expand="block" mode="ios" fill="outline">
        Registrarse
      </ion-button>

    </form>

  </div>

</ion-content>